<div class="container my-5">
    <div class="card my-5 col-md-6 mx-auto">
        <form [formGroup]="myForm" (submit)="onSubmit()">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input #ipNo type="number" id="N" placeholder="How many numbers?"
                                class="form-control form-control-lg" formControlName="count" name="count"/>
                        </div>
                    </div>
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <select #graph class="form-control form-control-lg" formControlName="shape" name="shape">
                                <option value="">Select Display Option</option >
                                <option value="Circle">Circle</option>
                                <option value="Square">Square</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" [disabled]="myForm.invalid" class="btn btn-outline-primary btn-lg me-2">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>